<!DOCTYPE html>
{% load staticfiles %}
<html>
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/mycss.css' %}"/>
{% endblock extra_css %}  

<head>



  <meta charset = "utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Home Appliances</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" href = "mycss.css">

    <link rel = "stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>

	<header class = "cabecera_principal">

		<a class = "logo_cabecera" href = "detail">
			<span class = "fa fa-eercast"></span>
			<span class = "nombre_web"> Home Appliances</span>
		</a>
		
		<nav>

        <div class = "carrito">
          <a href="#">
              <label> Carrito vacio<span class="glyphicon glyphicon-shopping-cart"></span></label>
          </a>
        </div>
		</nav>

	</header>
{% block contenido %}

{% endblock contenido %}


</body>
</html>
