
{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block contenido %}
  <section class = "contenido_principal">

    <h1 class = "content-header">{{product.prodName}}</h1>




      <article>
        <div class = 'detallesProductoH'>
         <img src="../../../media/{{product.image}}" alt="Imagen del producto" class= 'detallesImagen'>
          <div class = 'detallesProductoVert'>

            
            <p class = "descProducto">{{product.description}}</p>
            <br>
            <span> Categoria:</span>
            <a href="{% url 'product_list_by_category' product.category.catSlug %}">
               <span> {{product.category.catName}}</span>
            </a>
            <br>  

            <span> Precio: {{ product.price }} €</span>
            <div class = 'botonDetalles'>
              <label> Cantidad</label>
              <select id="id_quantity" name="quantity">
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
              </select>
              <input type="submit" value="Añadir al carrito" name="aumentar el carrito" class="botonAumentarCarrito">
            </div>
          </div>          
        </div>        
      </article> 
  </section>

{% endblock contenido %}
