
{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block contenido %}

  <div class = 'menu-lateral'>

  <ul>
      
	{% for c in categories %}

		<li><a href="{% url 'product_list_by_category' c.catSlug %}"><span>{{ c.catName }}</span></a></li>

	{% endfor %}
  </ul>
  </div>

	<section class = "contenido_principal">
			
      <h1 class = "content-header"> Productos</h1>
 	
 			{% for prod in products %}
 				<ul>
					<li class = 'listas'><div id = 'principal'>
						<a href="{% url 'product_detail' prod.id prod.prodSlug %}">
							<img  src="../../../media/{{prod.image}}" alt="Imagen del producto" class= 'detallesImagenLista'>
								<div class=detallesProductoList>
									<span>{{ prod.prodName }}  </span></a>
									<span>   {{ prod.price }} €</span>
								</div>

					</div></li>
				</ul>		
			{% endfor %}
	</section>
{% endblock contenido %}

