/*
  Cabecera principal
            */

.cabecera_principal {
  background: #ffffff;
  color: white;
  height: 80px;

  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */

  border-style: solid;
  border-bottom-color: #0f8cd7;
}

.titulo{
    font-family: 'Lato', sans-serif;
    color: #0f8cd7;
  
}
  
  .carrito {
    float: left;
    font-family: 'Lato', sans-serif;
    color: #0f8cd7;
    padding: 30px 0 0 90px;
    font-size: 20px;
  }

/*
    Logo
      */

.logo_cabecera {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  display: block;
  font-weight: 700;
}

  .logo_cabecera span {
    color: #0f8cd7;
    font-size: 30px;
  }
  

/*
  General menu config
            */

.menu-lateral {
  position: fixed;
}
.menu-lateral ul,
.menu-lateral ul li,
.menu-lateral ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}
.menu-lateral ul {
  position: relative;
  z-index: 597;
  float: left;
}
.menu-lateral ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
.menu-lateral ul hover,
.menu-lateral ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
.menu-lateral ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
.menu-lateral ul ul li {
  float: none;
}
.menu-lateral ul ul ul {
  top: 1px;
  left: 99%;
}
.menu-lateral ul li:hover > ul {
  visibility: visible;
}
.menu-lateral ul li {
  float: none;
}
.menu-lateral ul ul li {
  font-weight: normal;
}

/*
  Customización
          */

.menu-lateral {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 200px;
}
.menu-lateral ul a,
.menu-lateral ul a:link,
.menu-lateral ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
.menu-lateral > ul {
  float: none;
}
.menu-lateral ul {
  background: #fff;
}
.menu-lateral > ul > li {
  border-left: 3px solid #d7d8da;
}
.menu-lateral > ul > li > a {
  padding: 10px 20px;
}
.menu-lateral > ul > li:hover {
  border-left: 3px solid #33b2ff;
}
.menu-lateral ul li:hover > a {
  color: #33b2ff;
}
.menu-lateral > ul > li:hover {
  background: #f6f6f6;
}


/*
  Contenido principal
            */

#principal {
   margin:0 auto;
   display: inline-block;
} 

.listas{
  list-style: none;
}
.contenido_principal {
  width: 80%;
  margin: 100px 0 0 250px;
}

  .contenido_principal .content-header {
    font-family: 'Lato', sans-serif;
    font-size: 2.2em;
    color: #0f8cd7;
  }

  .contenido_principal .show {
    display: block;
  }

  .contenido_principal .content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .filterDiv {
    display: block;
  }


.detallesProductoH {
  display: inline-flex;
  border: 1px solid #848889;
  margin-left: auto;
  margin-right: auto;
}
.detallesImagen {
  max-height: 400px;
  max-width: 300px;
  float: left;
  margin: 10px;
  border: 5px solid #fff;
}

.detallesImagenLista {
  max-height: 100px;
  max-width: 80px;
  float:left;

}
.detallesProductoVert {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.detallesProductoList{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.botonDetalles {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.descProducto {
    text-align: center;
    color: #848889;
    float: right;
    border: 1px solid #0f8cd7;
    margin: 20px;
    margin-bottom: 100px
}
.botonAumentarCarrito {
    margin-left: auto;
    margin-right: auto;
    background: #3498db;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Arial';
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
}   

/*
  Contenido principal
     responsive
            */

.filter {
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1000px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


